@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}
header {
    background-color: #00ffff;
    min-height: 10px;
    text-align: center;
    padding-top: 15px;
    box-shadow: 0 1px 9px #396fa1
}

.inner{
    top: 0;
}

nav {
    padding:0 auto;
}
nav > a {
    color : #396fa1;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}
nav > a:hover {
    background-color: #396fa1;
    color: #00ffff;
}
.container {
    width: 75%;
    height: 85vh;
    display: flex;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.212);
}
.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a032e;
    padding: 1rem;
}
.form-image img {
    width: 28rem;
}
.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}
.form-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
.login-button {
    display: flex;
    align-items: center;
}
.login-button button {
    border: none;
    background-color: #220e91;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.login-button button:hover {
    background-color: #220e91;
}
.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}
.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #220e91;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}
.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}
.input-box input {
    margin: 0.5rem 0;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.7rem;
}
.input-box input:hover {
    background-color: #eeeeee75;
}
.input-box input:focus-visible {
    outline: 1px solid #220e91;
}
.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}
.input-box input::placeholder {
    color: #000000be;
}
.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}
.gender-input {
    display: flex;
    align-items: center;
}
.gender-input input {
    margin-right: 0.35rem;
}
.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #0a0a0ac0;
}
.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #100669c0;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}
.continue-button button:hover {
    background-color: #220e91;
}
.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;    
}

.full-box{
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: hsl(249, 82%, 31%);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}
.full-box:hover {
    background-color: hsl(249, 82%, 31%);
}
.full-box [value] {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: rgb(255, 255, 255); 
    border: none;   
    
}
.full-box [type]{
    background-color: hsl(249, 82%, 31%);
    cursor: pointer;
    border: none;  
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}
@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
      
}
#msgError{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
    font-size:x-small
  }
  
  #msgSuccess{
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
    font-size: x-small;
  }

